6 19 11 7 *_php_C:\xampp\htdocs\Veggo-API/artisan_notification:send_1608
7 19 11 7 *_php_C:\xampp\htdocs\Veggo-API/artisan_notification:send_1609
45 13 1 9 *_php_C:\xampp\htdocs\Veggo-API/artisan_notification:send_1620